In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("D:/CHITRA/CARDEHO/unclean_fullstate.csv")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17812\4145862978.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("D:/CHITRA/CARDEHO/unclean_fullstate.csv")

In [4]:
df

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Tyre Type,Value Configuration,Values per Cylinder,Wheel Base,Wheel Size,Width,commonIcon.1,heading.2,car_links,city
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,"Tubeless, Radial",DOHC,4.0,2425mm,NaN,1635mm,NaN,Specifications,https://www.cardekho.com/used-car-details/used...,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,"Tubeless,Radial",DOHC,4.0,2519mm,16,1765mm,NaN,Specifications,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,Tubeless,DOHC,4.0,2400mm,14,1647mm,NaN,Specifications,https://www.cardekho.com/used-car-details/used...,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,"Tubeless,Radial",DOHC,4.0,2425mm,14,1660mm,NaN,Specifications,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,"Tubeless,Radial",DOHC,4.0,2600mm,16,1785mm,NaN,Specifications,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,"Tubeless, Radial",NaN,4.0,2435,NaN,1655,NaN,Specifications,https://www.cardekho.com/used-car-details/used...,Kolkata
8365,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,Tubeless Tyres,DOHC,4.0,2360mm,NaN,1490mm,NaN,Specifications,https://www.cardekho.com/used-car-details/used...,Kolkata
8366,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,"Tubeless,Radial",NaN,4.0,2760mm,17,1770mm,NaN,Specifications,https://www.cardekho.com/used-car-details/used...,Kolkata
8367,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,"Tubeless,Radial",DOHC,4.0,2360mm,14,1680mm,NaN,Specifications,https://www.cardekho.com/used-car-details/used...,Kolkata
8368,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,"Tubeless,Radial",DOHC,4.0,2673mm,16,1822mm,NaN,Specifications,https://www.cardekho.com/used-car-details/used...,Kolkata

In [5]:
df.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'imgUrl', 'heading',
       'desc', 'Registration Year', 'Insurance Validity', 'Fuel Type', 'Seats',
       'Kms Driven', 'RTO', 'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'heading.1', 'commonIcon', 'Features', 'Comfort',
       'Interior', 'Exterior', 'Safety', 'Entertainment', 'Acceleration',
       'Alloy Wheel Size', 'BoreX Stroke', 'Cargo Volumn', 'Color',
       'Compression Ratio', 'Displacement', 'Drive Type', 'Engine',
       'Engine Type', 'Front Brake Type', 'Front Tread', 'Fuel Suppy System',
       'Gear Box', 'Gross Weight', 'Ground Clearance Unladen', 'Height',
       'Kerb Weight', 'Length', 'Max Power', 'Max Torque', 'Mileage',
       'No Door Numbers', 'No of Cylinder', 'Rear Brake Type', 'Rear Tread',
       'Seating Capacity', 'Seats.1', 'Steering Type', 'Super Charger',
       'Top Speed', 'Torque', 'Turbo Charger', 'Turning Radius', 'Tyre Type',
       'Value Configuration', 'Values per Cylinder', 'Wheel Base',
       'Wheel Size', 'Width', 'commonIcon.1', 'heading.2', 'car_links',
       'city'],
      dtype='object')

In [6]:
#remove repeted columns

In [7]:
# List of columns to drop
columns_to_drop = ["car_links",'heading.2','commonIcon.1','commonIcon','imgUrl','owner','priceActual','priceSaving',
                  'priceFixedText','heading','desc','Kms Driven','transmission','heading.1','Seating Capacity','Seats.1']
# Drop the columns
df = df.drop(columns=columns_to_drop)

In [8]:
columns_to_drop=["Fuel Type","Ownership","Displacement","Engine"]
df = df.drop(columns=columns_to_drop)

In [9]:
import pandas as pd

# Create an empty dictionary to store the percentage of null values for each column
null_percentage = {}

# Iterate over each column in the DataFrame
for col in df.columns:
    # Calculate the percentage of null values for the column
    percentage = (df[col].isnull().sum() / len(df)) * 100
    # Store the result in the dictionary
    null_percentage[col] = percentage

# Convert the dictionary to a DataFrame 
null_percentage_df = pd.DataFrame(list(null_percentage.items()), columns=['Column', 'Null Percentage'])

# Display the DataFrame
print(null_percentage_df)

                 Column  Null Percentage
0                    it         0.000000
1                    ft         0.000000
2                    bt         0.047795
3                    km         0.000000
4               ownerNo         0.000000
..                  ...              ...
56  Values per Cylinder         0.609392
57           Wheel Base         1.947664
58           Wheel Size        35.643446
59                Width         0.991755
60                 city         0.000000

[61 rows x 2 columns]

In [10]:
columns_to_drop=["Ground Clearance Unladen","Gross Weight","Compression Ratio","BoreX Stroke"]
df = df.drop(columns=columns_to_drop)

In [11]:
df

,it,ft,bt,km,ownerNo,oem,model,modelYear,centralVariantId,variantName,...,Torque,Turbo Charger,Turning Radius,Tyre Type,Value Configuration,Values per Cylinder,Wheel Base,Wheel Size,Width,city
0,0,Petrol,Hatchback,"1,20,000",3,Maruti,Maruti Celerio,2015,3979,VXI,...,90Nm,No,4.7 metres,"Tubeless, Radial",DOHC,4.0,2425mm,NaN,1635mm,Bangalore
1,0,Petrol,SUV,"32,706",2,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,...,150Nm,No,5.3 metres,"Tubeless,Radial",DOHC,4.0,2519mm,16,1765mm,Bangalore
2,0,Petrol,Hatchback,"11,949",1,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,...,114Nm,No,4.9 meters,Tubeless,DOHC,4.0,2400mm,14,1647mm,Bangalore
3,0,Petrol,Sedan,"17,794",1,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,...,113.75Nm,No,4.7 metres,"Tubeless,Radial",DOHC,4.0,2425mm,14,1660mm,Bangalore
4,0,Diesel,SUV,"60,000",1,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,...,200Nm,Yes,5.2 meters,"Tubeless,Radial",DOHC,4.0,2600mm,16,1785mm,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,"10,000",1,Maruti,Maruti Celerio,2022,8682,ZXI BSVI,...,89Nm,NaN,NaN,"Tubeless, Radial",NaN,4.0,2435,NaN,1655,Kolkata
8365,0,Petrol,Hatchback,"1,20,000",1,Maruti,Maruti Alto 800,2014,3943,LXI,...,69Nm,No,4.6 metres,Tubeless Tyres,DOHC,4.0,2360mm,NaN,1490mm,Kolkata
8366,0,Petrol,Sedan,"50,000",3,Mercedes-Benz,Mercedes-Benz C-Class,2011,4672,C 200 CGI Elegance,...,285Nm,No,5.42 metres,"Tubeless,Radial",NaN,4.0,2760mm,17,1770mm,Kolkata
8367,0,Petrol,Hatchback,"40,000",1,Maruti,Maruti Ritz,2012,4144,ZXi,...,114Nm,No,4.7 metres,"Tubeless,Radial",DOHC,4.0,2360mm,14,1680mm,Kolkata
8368,0,Diesel,SUV,"1,20,000",2,Renault,Renault Duster,2017,5048,110PS Diesel RxZ AWD,...,245Nm,Yes,5.2 metres,"Tubeless,Radial",DOHC,4.0,2673mm,16,1822mm,Kolkata

In [12]:
import pandas as pd
import re

# Function to clean and convert 'km' column to numeric
def clean_km(km_value):
    # Convert to string if it's not already
    if not isinstance(km_value, str):
        km_value = str(km_value)
    # Remove non-numeric characters (e.g., "km", "driven")
    cleaned_km = re.sub(r'[^\d]', '', km_value)
    # Convert to numeric
    return pd.to_numeric(cleaned_km, errors='coerce')

# Apply the cleaning function to the 'km' 
df['km'] = df['km'].apply(clean_km)

In [13]:
import pandas as pd

# Function to convert price strings to integers
def convert_price_to_int(price_str):
    price_str = price_str.lower().replace(',', '').strip()  # Remove commas and convert to lowercase
    price_str = price_str.replace('₹', '').strip()  # Remove currency symbol

    # Replace 'lakh', 'crore', and 'thousand' with their numeric equivalents
    if 'lakh' in price_str:
        price_num = float(price_str.replace('lakh', '').strip()) * 100000
    elif 'crore' in price_str:
        price_num = float(price_str.replace('crore', '').strip()) * 10000000
    elif 'thousand' in price_str:
        price_num = float(price_str.replace('thousand', '').strip()) * 1000
    else:
        price_num = float(price_str)  # For cases like '58000' without lakh, crore, or thousand
    
    return int(price_num)

# Apply the conversion function to the price column
df['price'] = df['price'].apply(convert_price_to_int)

In [14]:
df['Registration Year'].fillna(df['modelYear'], inplace=True)

In [15]:
import pandas as pd

# List of columns to process
columns_to_process = ['Gear Box', 'Height', 'Kerb Weight', 'Length', 'Torque', 'Wheel Base', 
                      'Width', 'Mileage',"Turning Radius","Wheel Size","Top Speed","Max Torque",
                     "Rear Tread","Front Tread","Cargo Volumn","Acceleration","Alloy Wheel Size","Max Power",
                     "km","Registration Year","Seats","Engine Displacement"]

for col in columns_to_process:
    # Check if the column is of type object (string)
    if df[col].dtype == 'object':
        # Remove non-numeric characters
        df[col] = df[col].str.extract('(\d+)')  # Extract numeric part
        
        # Convert the column to float to calculate the mean
        df[col] = df[col].astype(float)
        
        #Calculate the mean of the column (ignoring NaN)
        mean_value = df[col].mean()
        
        #Fill NaN values with the mean
        df[col] = df[col].fillna(mean_value)
        
        #Convert the column to integers
        df[col] = df[col].astype(int)

df

,it,ft,bt,km,ownerNo,oem,model,modelYear,centralVariantId,variantName,...,Torque,Turbo Charger,Turning Radius,Tyre Type,Value Configuration,Values per Cylinder,Wheel Base,Wheel Size,Width,city
0,0,Petrol,Hatchback,120000,3,Maruti,Maruti Celerio,2015,3979,VXI,...,90,No,4,"Tubeless, Radial",DOHC,4.0,2425,15,1635,Bangalore
1,0,Petrol,SUV,32706,2,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,...,150,No,5,"Tubeless,Radial",DOHC,4.0,2519,16,1765,Bangalore
2,0,Petrol,Hatchback,11949,1,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,...,114,No,4,Tubeless,DOHC,4.0,2400,14,1647,Bangalore
3,0,Petrol,Sedan,17794,1,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,...,113,No,4,"Tubeless,Radial",DOHC,4.0,2425,14,1660,Bangalore
4,0,Diesel,SUV,60000,1,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,...,200,Yes,5,"Tubeless,Radial",DOHC,4.0,2600,16,1785,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Petrol,Hatchback,10000,1,Maruti,Maruti Celerio,2022,8682,ZXI BSVI,...,89,NaN,5,"Tubeless, Radial",NaN,4.0,2435,15,1655,Kolkata
8365,0,Petrol,Hatchback,120000,1,Maruti,Maruti Alto 800,2014,3943,LXI,...,69,No,4,Tubeless Tyres,DOHC,4.0,2360,15,1490,Kolkata
8366,0,Petrol,Sedan,50000,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,4672,C 200 CGI Elegance,...,285,No,5,"Tubeless,Radial",NaN,4.0,2760,17,1770,Kolkata
8367,0,Petrol,Hatchback,40000,1,Maruti,Maruti Ritz,2012,4144,ZXi,...,114,No,4,"Tubeless,Radial",DOHC,4.0,2360,14,1680,Kolkata
8368,0,Diesel,SUV,120000,2,Renault,Renault Duster,2017,5048,110PS Diesel RxZ AWD,...,245,Yes,5,"Tubeless,Radial",DOHC,4.0,2673,16,1822,Kolkata

In [16]:
df["it"].unique()

array([0], dtype=int64)

In [17]:
df = df.drop("it",axis=1)

In [18]:
df = df.drop("Year of Manufacture",axis=1)

In [19]:
df

,ft,bt,km,ownerNo,oem,model,modelYear,centralVariantId,variantName,price,...,Torque,Turbo Charger,Turning Radius,Tyre Type,Value Configuration,Values per Cylinder,Wheel Base,Wheel Size,Width,city
0,Petrol,Hatchback,120000,3,Maruti,Maruti Celerio,2015,3979,VXI,400000,...,90,No,4,"Tubeless, Radial",DOHC,4.0,2425,15,1635,Bangalore
1,Petrol,SUV,32706,2,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,811000,...,150,No,5,"Tubeless,Radial",DOHC,4.0,2519,16,1765,Bangalore
2,Petrol,Hatchback,11949,1,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,585000,...,114,No,4,Tubeless,DOHC,4.0,2400,14,1647,Bangalore
3,Petrol,Sedan,17794,1,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,462000,...,113,No,4,"Tubeless,Radial",DOHC,4.0,2425,14,1660,Bangalore
4,Diesel,SUV,60000,1,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,790000,...,200,Yes,5,"Tubeless,Radial",DOHC,4.0,2600,16,1785,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Petrol,Hatchback,10000,1,Maruti,Maruti Celerio,2022,8682,ZXI BSVI,509999,...,89,NaN,5,"Tubeless, Radial",NaN,4.0,2435,15,1655,Kolkata
8365,Petrol,Hatchback,120000,1,Maruti,Maruti Alto 800,2014,3943,LXI,180000,...,69,No,4,Tubeless Tyres,DOHC,4.0,2360,15,1490,Kolkata
8366,Petrol,Sedan,50000,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,4672,C 200 CGI Elegance,550000,...,285,No,5,"Tubeless,Radial",NaN,4.0,2760,17,1770,Kolkata
8367,Petrol,Hatchback,40000,1,Maruti,Maruti Ritz,2012,4144,ZXi,140000,...,114,No,4,"Tubeless,Radial",DOHC,4.0,2360,14,1680,Kolkata
8368,Diesel,SUV,120000,2,Renault,Renault Duster,2017,5048,110PS Diesel RxZ AWD,500000,...,245,Yes,5,"Tubeless,Radial",DOHC,4.0,2673,16,1822,Kolkata

In [20]:
df.isnull().sum()

ft                        0
bt                        4
km                        0
ownerNo                   0
oem                       0
model                     0
modelYear                 0
centralVariantId          0
variantName               0
price                     0
Registration Year         0
Insurance Validity        4
Seats                     0
RTO                     894
Engine Displacement       0
Transmission              0
Features                 65
Comfort                  68
Interior                 77
Exterior                 90
Safety                   96
Entertainment          1095
Acceleration              0
Alloy Wheel Size          0
Cargo Volumn              0
Color                     3
Drive Type             1560
Engine Type             295
Front Brake Type         96
Front Tread               0
Fuel Suppy System      1727
Gear Box                  0
Height                    0
Kerb Weight               0
Length                    0
Max Power                 0
Max Torque                0
Mileage                   0
No Door Numbers          11
No of Cylinder           31
Rear Brake Type          96
Rear Tread                0
Steering Type           255
Super Charger          1962
Top Speed                 0
Torque                    0
Turbo Charger          1040
Turning Radius            0
Tyre Type                77
Value Configuration    2216
Values per Cylinder      51
Wheel Base                0
Wheel Size                0
Width                     0
city                      0
dtype: int64

In [22]:
# Fill missing values for object columns with mode
object_cols = df.select_dtypes(include=['object']).columns
for col in object_cols:
    mode_value = df[col].mode()[0]  # Get the mode of the column
    df[col].fillna(mode_value, inplace=True)

# Fill missing values for int and float columns with mean
numeric_cols = df.select_dtypes(include=['int64', 'float64',"int32"]).columns
for col in numeric_cols:
    mean_value = df[col].mean()  # Get the mean of the column
    df[col].fillna(mean_value, inplace=True)

In [23]:
df.isnull().sum()

ft                     0
bt                     0
km                     0
ownerNo                0
oem                    0
model                  0
modelYear              0
centralVariantId       0
variantName            0
price                  0
Registration Year      0
Insurance Validity     0
Seats                  0
RTO                    0
Engine Displacement    0
Transmission           0
Features               0
Comfort                0
Interior               0
Exterior               0
Safety                 0
Entertainment          0
Acceleration           0
Alloy Wheel Size       0
Cargo Volumn           0
Color                  0
Drive Type             0
Engine Type            0
Front Brake Type       0
Front Tread            0
Fuel Suppy System      0
Gear Box               0
Height                 0
Kerb Weight            0
Length                 0
Max Power              0
Max Torque             0
Mileage                0
No Door Numbers        0
No of Cylinder         0
Rear Brake Type        0
Rear Tread             0
Steering Type          0
Super Charger          0
Top Speed              0
Torque                 0
Turbo Charger          0
Turning Radius         0
Tyre Type              0
Value Configuration    0
Values per Cylinder    0
Wheel Base             0
Wheel Size             0
Width                  0
city                   0
dtype: int64

In [24]:
df.dtypes

ft                      object
bt                      object
km                       int64
ownerNo                  int64
oem                     object
model                   object
modelYear                int64
centralVariantId         int64
variantName             object
price                    int64
Registration Year        int32
Insurance Validity      object
Seats                    int32
RTO                     object
Engine Displacement      int32
Transmission            object
Features                object
Comfort                 object
Interior                object
Exterior                object
Safety                  object
Entertainment           object
Acceleration             int32
Alloy Wheel Size         int32
Cargo Volumn             int32
Color                   object
Drive Type              object
Engine Type             object
Front Brake Type        object
Front Tread              int32
Fuel Suppy System       object
Gear Box                 int32
Height                   int32
Kerb Weight              int32
Length                   int32
Max Power                int32
Max Torque               int32
Mileage                  int32
No Door Numbers        float64
No of Cylinder         float64
Rear Brake Type         object
Rear Tread               int32
Steering Type           object
Super Charger           object
Top Speed                int32
Torque                   int32
Turbo Charger           object
Turning Radius           int32
Tyre Type               object
Value Configuration     object
Values per Cylinder    float64
Wheel Base               int32
Wheel Size               int32
Width                    int32
city                    object
dtype: object

In [26]:
# Define the path  to save the CSV file
path = 'D:\CHITRA\CARDEHO\CLEAN55.csv'
# Save the DataFrame to the specified path
df.to_csv(path, index=False)